.OverviewMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
}

.Item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 43px;
    user-select: none;
}

.Item p {
    leading-trim: both;
    text-edge: cap;
    font-size: 9px;
}

.Item:hover {
    background: #1a1825;
}

.Item:active {
    background: #2c2a36;
}

.Selected {
    background: #2c2a36;
}
