.PropertyBlock {
    display: flex;
    flex-direction: column;
    transition: 0.3s all linear;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    width: 100%;
}

.MainProperties {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.Properties {
    display: flex;
    align-items: center;
}

.PropertyItem {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.LinkBlock {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.Buttons {
    display: flex;
    align-items: center;
}

.Additions {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
